:root {
    --text: #FFFFFF;
    --font-family: "Playfair Display SC", serif;
    --font-weight: 800;
    --letter-spacing: 1px;
    --text-black: #000000;
    /* --header-bg: #6366f1;
    --hero-bg: #a1a7f4;
    --main-bg: #c9d2fa; */
}

body,
html {
  margin: 0;
  font-family: "Instrument Sans", sans-serif;
  font-weight: medium;
  font-size: 16px;
  color: var(--text);
  display: grid;
  grid-template-rows: min-content 1fr;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.above-the-fold-spacer {
    height: 100vh;
    grid-column: 1 / -1;
    grid-row: 1 / span 2;
}

/* HEADER */

.header {
    background-color: #2b2b2b;
    position: sticky;
    top: 0;
    grid-column-start: 1;
    grid-row-start: 1;
    padding: 1rem;    
    z-index: 1;
    /* background-color: blue; */
}

.header .title-header {
    color: var(--text);
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-size: 20px;
    letter-spacing: 3px;
    margin-left: 15px;
}

.hero {
    position: relative;
    padding: 5rem 2rem;
    grid-column-start: 1;
    grid-row-start: 2;
    background: url("./images/england2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.hero h2 {
    font-size: 25px;
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing);
    font-family: var(--font-family);
    color: var(--text);
}

.hero p {
    width: 50vw;
    line-height: 1.5;
    margin-bottom: 1rem;
    font-family: "Merriweather", serif;
    color: var(--text);
}


/* From Uiverse.io by vikiWayne */ 
.button {
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--text-black);
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid rgba(0, 0, 0, 0.7);
    z-index: 0;
  }
  
  button:hover {
    color: var(--text);
    transform: scale(1.1);
    outline: 2px solid rgba(0, 0, 0, 0.7);
    box-shadow: 4px 5px 17px -4px #268391;
  }
  
  button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }
  
  button:hover::before {
    width: 250%;
  }
  

/* MAIN */

/* SECTION-1 */

main .section-1 {
    padding: 10px;
    margin-bottom: 20px;
}

.section-1 h2 {
    font-size: 25px;
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing);
    font-family: var(--font-family);
    margin-left: 25px;
}

.wrapper-content-section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.wrapper-content-section1 p {
    text-align: left;
    line-height: 1.6;
    font-weight: 700;
    width: 500px;
    font-family: "Merriweather", serif;
}

.wrapper-content-section1 .img-wraper {
    --s: 450px; /* the size of the image */
    --b: 8px;   /* the border thickness*/
    --g: 14px;  /* the gap */
    --c: #1E3A8A;

    width: var(--s);
    aspect-ratio: 1;
    outline: calc(var(--s) / 2) solid #0009;
    outline-offset: calc(var(--s) / -2);
    cursor: pointer;
    transition: 0.3s;
    background: url("./images/england1.jpg");
    /* width: 700px;
    height: 400px; */
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.wrapper-content-section1 .img-wraper:hover {
    outline: var(--b) solid var(--c);
    outline-offset: var(--g);
}

/* SECTION-2 */

.section-2 {
    padding: 10px;
}

.wrapper-cards-section2 {
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* From Uiverse.io by Yaya12085 */ 
.card {
    max-width: 300px;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
}
  
.card a {
    text-decoration: none
}
  
.content {
    padding: 1.1rem;
}
  
.image {
    object-fit: cover;
    width: 100%;
    height: 150px;
    background-color: rgb(239, 205, 255);
}
  
.title {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
}
  
.desc {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
}
  
.action {
    display: inline-flex;
    margin-top: 1rem;
    color: var(--text);
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: #2563EB;
    padding: 4px 8px;
    border-radius: 4px;
}
  
.action span {
    transition: .3s ease;
}
  
.action:hover span {
    transform: translateX(4px);
}
  
 /* SECTION-3 */

.section-3 {
    border: 1px solid blue;
    padding: 10px;
}

.section-3 div {
    border: 1px solid rebeccapurple;
    display: flex;
    justify-content: space-between;
    align-items: center;
}