* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

.header {
    background-color: #2b2b2b;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.header .title-header {
    color: white;
    font-family: "Playfair Display SC", serif;
    font-weight: 800;
    font-size: 60px;
    letter-spacing: 3px;
}

.carousel {
    width: 100%;
    height: 400px;
    position: relative;
}
  
.slides {
    width: 100%;
    height: 100%;
    position: absolute;
}
  
.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}
  
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.navigation {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
}
  
.navigation label {
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}
  
  #slide1:checked ~ .slides .slide:nth-child(1),
  #slide2:checked ~ .slides .slide:nth-child(2),
  #slide3:checked ~ .slides .slide:nth-child(3) {
    display: block;
} 

/* MAIN */

/* SECTION-1 */

main .section-1 {
    border: 1px solid red;
    padding: 10px;
}

.wrapper-content-section1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wrapper-content-section1 p {
    border: 1px solid blue;
    width: 500px;
}

.wrapper-content-section1 .img-wraper {
    background: url("./images/england.jpg");
    width: 800px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

/* SECTION-2 */

.section-2 {
    padding: 10px;
}

.wrapper-cards-section2 {
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* From Uiverse.io by Yaya12085 */ 
.card {
    max-width: 300px;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
}
  
.card a {
    text-decoration: none
}
  
.content {
    padding: 1.1rem;
}
  
.image {
    object-fit: cover;
    width: 100%;
    height: 150px;
    background-color: rgb(239, 205, 255);
}
  
.title {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
}
  
.desc {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
}
  
.action {
    display: inline-flex;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: #2563EB;
    padding: 4px 8px;
    border-radius: 4px;
}
  
.action span {
    transition: .3s ease;
}
  
.action:hover span {
    transform: translateX(4px);
}
  
 /* SECTION-3 */

.section-3 {
    border: 1px solid blue;
    padding: 10px;
}

.section-3 div {
    border: 1px solid rebeccapurple;
    display: flex;
    justify-content: space-between;
    align-items: center;
}